php:
	date.timezone: Europe/Prague


extensions:
	authorization: Carrooi\Security\DI\SecurityExtension


application:
	scanDirs: false


session:
	autoStart: false


services:

	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

	nette.userStorage:
		class: CarrooiTests\SecurityMocks\UserStorageMock

	books:
		class: CarrooiTests\Security\Authorization\Books


authorization:

	default: true

	resources:
		book: CarrooiTests\Security\Authorization\Books

		user:
			default: false

			actions:
				view: true
				delete: false

				detail:
					loggedIn: true

				add:
					roles: [admin]

		favorites:
			default: false
			actions:
				*:
					loggedIn: true
